.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin: 0 auto;
    padding: 20px;

    height: 60.6875rem;
    width: 23.125rem;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    width: 100%;
}

select{
    color: var(--grey1);
    background-color: var(--grey2);
    
    height: 3rem;
    width: 100%;

    border: 1px solid var(--grey1);
    border-radius: 4px;

    margin: 0 auto;
}